@model UstamOdev.Models.onayli_isler

@{
    ViewBag.Title = "Teklif Kaldır";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<br />
<br />
<br />
<div align="center">
    <h3 style='background:#FF6800' class="text-light">Bu teklifi kaldırmak istediğinize emin misiniz?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.is_ilanlari.is_tur)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.is_ilanlari.is_tur)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.is_ilanlari.is_aciklama)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.is_ilanlari.is_aciklama)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.is_ilanlari.is_ortalama_fiyat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.is_ilanlari.is_ortalama_fiyat)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Tekliflere Dön", "Teklifler", "null", new { @class = "btn btn-secondary" })
        <input type="submit" value="Kaldır" class="btn btn-danger" />
    </div>
        }
    </div>
</div>