@model IEnumerable<UstamOdev.Models.is_ilanlari>
@{
    ViewBag.Title = "Onay Bekleyen İşler";
    Layout = "~/Views/Shared/_UstaLayout.cshtml";
}
<br />
<br />
<br />
<h2 style='background:#FF6800' class="text-light">Onay Bekleyen İşler</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.is_tur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_ortalama_fiyat)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.is_tur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_ortalama_fiyat)
            </td>
            <td>
                @Html.ActionLink("Bekleyen Müşterileri Görüntüle", "OnayGoruntule", new { id = item.is_id }, new { @class = "btn btn-secondary" })<br>
        </tr>
    }
</table>

